.form__body {
  width: 430px;
  height: 330px;
  background-color: white;
  color: black;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
  position: relative;
}
 
@media all and (max-width: 500px) {
  .form__body {
    width: 282px;
    height: 322px;
  }
}