.form__close {
  width: 32px;
  height: 32px;
  position: absolute;
  top: -36px;
  right: -39px;
}

.form__close:hover {
  opacity: .8;
}

@media all and (max-width: 500px) {
  .form__close {
    width: 20px;
    height: 20px;
    right: 0;
  }
}