.form__content {
  max-width: 358px;
  margin: 0 auto;
  padding: 37px 0;
  display: flex;
  flex-direction: column;
  row-gap: 48px;
}

@media all and (max-width: 500px) {
  .form__content {
    max-width: 238px;
    padding: 25px 0;
    row-gap: 45px;
  }
}